.chatList{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchBar{
            flex: 1;
            background-color: hsla(240, 41%, 14%, 0.571);
            display: flex;
            gap: 20px;
            align-items: center;
            border-radius: 10px;
            padding: 10px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img{
                width: 20px;
                height: 20px;
            }

        }
        .add{
            width: 36px;
            height: 36px;
            background-color: hsla(240, 41%, 14%, 0.571);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;

        }
    }
    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        span{
            font-weight: 500;
        }

        p{
            font-size: 14px;
            font-weight: 300;
        }
    }
}
.chatList::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.chatList::-webkit-scrollbar-thumb {
    background-color: hsla(240, 73%, 18%, 0.674); /* Color of the scrollbar thumb */
}

.chatList::-webkit-scrollbar-track {
    background-color: #dddddd35; /* Color of the scrollbar track */
}